<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Telerik UI for ASP.NET Core 2023.2.718(AdditionalPackages)" value="D:\POOJA\Progress\Telerik UI for ASP.NET Core R2 2023\" />
    <add key="Telerik UI for ASP.NET Core 2023.2.718(MainPackage)" value="D:\POOJA\Progress\Telerik UI for ASP.NET Core R2 2023\wrappers\aspnetcore\Binaries\AspNet.Core" />
  </packageSources>
</configuration>